.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #dadada;
  box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.3);
}

#result {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #b9b9b9;
}

#clear {
  color: red;
}

#\2A,
#add,
#subtract,
#\2F {
  color: blue;
}

#equal {
  background-color: blue;
  color: white;
  width: 100%;
}
